.review_form_section {
  border: 1px solid #ddd;
  padding: 80px 15px 50px 15px;
  background-color: #04293a;
}
.review_form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
}
.review_form input {
  padding: 5px 2px;
}
textarea {
  padding: 0px 0px 30px 2px;
}
.review_submit_btn {
  width: 15% !important;
  padding: 5px 0px;
  background-color: crimson;
  border: none;
  color: white;
}

/* media query for mobile devices */

@media only screen and (max-width: 688px) {
  .review_form_section {
    width: 100% !important;
  }
  .review_submit_btn {
    width: 100px !important;
  }
}
