/* google font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.swal-button {
  background-color: blue !important;
}
.swal-button:hover {
  background-color: tomato !important;
}
.swal-button--danger {
  background-color: #e64942 !important;
}
.swal-button--cancel {
  color: black;
  background-color: #efefef !important;
}
